<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS hosting config for SeQrJewellery.API.
  Removes WebDAV so PUT/DELETE/PATCH reach ASP.NET Core (otherwise IIS returns 405).
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\SeQrJewellery.API.exe"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
